<div class="content home">
	<div class="banner">
		<div class="container">
			<h1><%= config.subtitle %></h1>
			<div class="search">
				<!-- <form id="search_form" action_e="<%= theme.search + "site:" +config.url %>" onsubmit="return search();">
					<input autocomplete='off' id="search_value" name="q" type="search" placeholder="<%= __('placeholder') %>">
					<input class="submit" type="submit" value="<%= __('search') %>">
				</form> -->
			</div>
		</div>
	</div>
	<div class="container">
		<div class="category">
			<% site.categories.sort('length').map(function(category){  %>
				<% 	let cover = ""
					let color = "docs";
                    let icon = "";
                    let desc = "-";
					category.posts.sort('-date').map(function(post){
						if(post.cover!==undefined && cover==""){ 
							cover = post.cover
						}
						if(post.color!==undefined && color=="red"){ 
							color = post.color
						};
                        if(post.icon!==undefined){
                        	icon = post.icon;
                        };
						if(post.desc!==undefined){
							desc = post.desc;
						};
					});

				%>
						
				<%  if(cover == "" && icon == ''){ %> 
					<a class="category-item" href="<%- url_for(category.path) %>">
						<div class="cover cover_docs">
                            <div class="custom-show">
                            	<h1 class="custom-h1"><%= category.name %></h1>
                            	<div class="custom-desc"><%= desc %></div>
                            	<div class="custom-count"><%= category.length %>篇</div>
                            </div>
                        </div>
					</a>
				<% }%>
                 
                <% if ( icon != '' ) { %>
					<a class="category-item" href="<%- url_for(category.path) %>">
						<div class="cover <%= icon %>">
					        <img  data-sizes="auto" style="height: 60px; width: 60px;margin-top: 60px;" src="/images/cover/<%= icon %>.png" class="lazyload">
							<div class="custom-show">
								<h1 class="custom-h1"><%= category.name %></h1>
								<div class="custom-desc"><%= desc %></div>
								<div class="custom-count"><%= category.length %>篇</div>
							</div>
					    </div>
					</a>
				<% } %>
                
                 <% if ( cover != '' ) { %>
					<a class="category-item" href="<%- url_for(category.path) %>">
						<div class="cover">
                            <img  data-sizes="auto" src="<%= cover %>" class="lazyload" alt="<%= category.name %>">
                            <h1><%= category.name %></h1>
                            <div class="custom-coun"><%= category.length %>篇</div>
                        </div>
					</a>
				<% } %> 
                
			<% }) %>
		</div>
	</div>
</div>